<div class="tasks-number-container">
<!--  <div class="btn-group" >-->
<!--    <div id="button-basic"  type="button" class="select-button pointer"-->
<!--         aria-controls="dropdown-basic">-->
<!--      <div class="addition-menu-content ">-->
<!--        you can select the number of tasks  <span class="caret"></span>-->
<!--      </div>-->

<!--    </div>-->

<!--    <ul id="dropdown-basic"  class="dropdown-menu"-->
<!--        role="menu" aria-labelledby="button-basic">-->
<!--      <li *ngFor="let number of numberOfTasksList" role="menuitem">-->
<!--        <div class="dropdown-item pointer" (click)="getNumberOfTasks(number)">{{number}}</div>-->
<!--      </li>-->
<!--      &lt;!&ndash;<a class="dropdown-item" (click)="getNumberOfTasks(number)">{{number}}</a></li>&ndash;&gt;-->
<!--    </ul>-->
<!--  </div>-->
  <div class="current-tasks-number">
{{selectedNumber}}
  </div>


</div>


