.custom-input {
  width: 100px;
  height: 30px;
  font-size: 20px;
  border: 2px solid var(--color-secondary-2-1);
  margin: 10px auto 0 auto;
  -moz-transition: all  .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.custom-input:focus,
.custom-input:active
{
  outline: none;
  border: 2px solid var(--color-secondary-2-3);
}
